.loading {
    margin-top: 40vh;
}
.spinner {
    width: 50px;
    height: 50px;
}
.chart {
    border-radius: 20px;
}
.link-to-detail:hover {
    cursor: pointer;
    background-color: #d3d3d3;
}
.slide-box {
    white-space: nowrap;
}