#admin-login {
    margin-top: 20vh;
}
@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');
html, body, .main-bg {
    background-color: #710000;
    width: auto;
    min-height: auto;
    font-family: 'Kanit', sans-serif;
}
#home-box {
    margin-top: 20vh;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.background-orange {
    background-color: #d48a00;
}